user_uuid = "2c5b9ed1-4bb7-43fe-87fb-6b51a34e1e27"
index_html_filepath= "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath= "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version = 1