terratowns_endpoint="https://terratowns.cloud/api"


arcane = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcane"
  content_version = 1 
}
manu = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/manu"
  content_version = 1 
}
